* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100vw;
  background-color: #1d1d1f;
  height: 44px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  z-index: 99;
  position: relative;
}
.header-center {
  width: 100%;
  max-width: 980px;
  margin: auto;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
}
.headline {
  padding: 8px;
  font-size: 18px;
  font-weight: 400;
}
main {
  width: 100vw;
  height: calc(100vh - 44px);
  background-color: #f5f5f7;
}
.main-center {
  max-width: 980px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 82px;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: space-between;
  padding: 0 11px;
  margin-bottom: 15px;
}
#task-input {
  width: 150px;
  height: 20px;
  font-size: 16px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #999;
  font-weight: 400;
}
.task-areas {
  display: flex;
  width: fit-content;
  gap: 23px;
  position: relative;
}
.task-areas button {
  font-size: 16px;
  background: none;
  outline: none;
  border: none;
}
#add-bt {
  background: none;
  border: none;
  outline: none;
  vertical-align: bottom;
  cursor: pointer;
}
.list {
  width: 100%;
  max-width: 980px;
  height: 80%;
  border-radius: 26px;
  overflow: auto;
}
.list-item {
  width: 100%;
  height: 52px;
  border-radius: 26px;
  display: flex;
  align-items: center;
  padding: 0 11px;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 13px;
  margin-bottom: 10px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}
.list-item:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}
.item-bt {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.item-text {
  width: 100%;
  font-size: 18px;
  color: #1d1d1f;
}
.tesk-done {
  text-decoration: line-through;
}
.task-item-bt {
  cursor: pointer;
}

.under-line {
  transition: all 0.3s ease;
}
.under-line {
  background-color: #000;
  position: absolute;
  height: 2px;
}
.tesk-done-container {
  opacity: 0.6;
}
